.grid-container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%;
  gap: 1px 1px;
  grid-template-areas:
    "LU Header RU"
    "LeftSide Body RightSide"
    "LB Footer RB";
  height: 2300px;
}

.Header { grid-area: Header; }

.Body {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 2% 20% 3% 25% 50%;
  gap: 0px 0px;
  grid-template-areas:
    ". SearchArea ."
    ". TableArea ."
    ". PageSelectorArea ."
    ". WordCloudArea ."
    ". VisualizationArea .";
  grid-area: Body;
}


.SearchArea { grid-area: SearchArea; }

.TableArea { grid-area: TableArea; }

.PageSelectorArea { grid-area: PageSelectorArea; }

.WordCloudArea { grid-area: WordCloudArea; }

.VisualizationArea { grid-area: VisualizationArea; }

.Footer { grid-area: Footer; }

.LeftSide { grid-area: LeftSide; }

.RightSide { grid-area: RightSide; }

.LU { grid-area: LU; }

.RU { grid-area: RU; }

.LB { grid-area: LB; }

.RB { grid-area: RB; }

